@use "../../styles/vars";

.about {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  color: black;
  border: none;

  &-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  &-description {
    margin-top: 1rem;
    width: 80%;
    font-size: 1.2;
  }
  &-btn {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
  }

  &-btn:hover {
    color: #bc6d85;
    background-color: #004558;
  }
}
