@use "../../styles/vars";

.contact {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-img-container {
  height: 40vh;
  width: 100%;
}

.contact-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
